[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
pycairo = "*"
pygobject = "*"
rsmf = "*"

[requires]
python_version = "3.8"
